body {
	margin: 0;
	height: 100vh;
	cursor: url("assets/cursor.png") 16 16, auto;
	image-rendering: pixelated;
	background-color: rgb(151, 151, 151);
}

.char {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	right: 50%;
	z-index: 10;
}

#exit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
	padding: 5.5px 15px;
	background-color: rgb(150, 150, 150);
	border: 5px solid rgb(97, 97, 97);
	font-family: pcSenior;
	transform-origin: top;
	width: fit-content;
	color: white;
	transition: background-color 1s;
}

#exit > p {
	margin-bottom: 0;
}

#exit:hover {
	background-color: rgb(97, 97, 97);
}

.tutorial-box {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	left: 25%;
	bottom: 10px;
	background-color: black;
	font-family: pcSenior;
	color: white;
	padding: 10px;
	z-index: 11;
}

.tutorial-box > p {
	margin: 0;
	width: 100%;
	text-align: end;
}

.tutorial-box > p:hover {
	color: red;
}

.tutorial {
	background-color: black;
	padding: 5px;
	border: 5px solid white;
	white-space: pre-line;
}

#transition {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 20;
}
