body{
    margin: 0;
    cursor: url('assets/cursor.png') 16 16, auto;
    image-rendering: pixelated;
}

.char{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 50%;
    right: 50%;
    z-index: 10;
}

.building{
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: 0;
}

#cv{
    top: 10%;
    right: 75%;
}

#play{
    top: 10%;
    right: 25%;
}

#game{
    top: 75%;
    right: 75%;
}

#project{
    top: 75%;
    right: 25%;
}

#home{
    top: 35%;
    right: 50%;
}

#container{
    background-color: #02c902;
    padding: 8px;
    height: 98.25vh;
    width: auto;
}