body{
    margin: 0;
    height: 100vh;
    cursor: url('assets/cursor.png') 16 16, auto;
    image-rendering: pixelated;
    background-color: rgb(151, 151, 151);
}

.char{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 50%;
    right: 50%;
    z-index: 10;
}

building{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

building > img {
    scale: 5;
}

building > p{
    font-family: pcSenior;
    color: white;
    text-align: center;
    position: absolute;
    text-shadow: black 0px 3px 5px;
    top: -25%;
    left: -75%;
    width: 250%;
    opacity: 0;
    transition: 0.5s;
}

building:hover > p {
    opacity: 1;
    top: -45%;
}

timeline{
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 75%;
}

timeline > .me{
    position: absolute;
    bottom: -10%;
    text-align: center;
    font-weight: 900;
    background-color: gray;
    padding: 5px;
    border-radius: 10%;
}

timeline:before { 
    content: '';
    position: absolute;
    border-radius: 3px; 
    border-left:  5px gray solid;
    height: 100%;
    z-index:0;
}

time-dot{
    background-color: gray;
    padding: 10px 5px;
    border-radius: 50%;
    z-index:1;
}

.cv-content{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 75%;
    height: 75%;
    background-color: green;
    margin-left: 10%;
    overflow: hidden;
}

.cv-content > #info-panel{
    position: absolute;
    margin-top: 15px;
    padding: 15px;
    top: 0;
    left: 8%;
    width: 80%;
    min-height: 25%;
    background-color: white;
    border: 5px solid black;
    border-radius: 5%;
    z-index: 2;
    white-space: pre-line;
    word-wrap: break-word;
    transition: 0.5s;
}

#info-panel > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.cv-content > floor {
    position: relative;
    top: 0;
    background-color: red;
    flex: 0 0 100%;
    transition: 1s;
}

#exit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5.5px 15px;
    background-color: rgb(150, 150, 150);
    border: 5px solid rgb(97, 97, 97);
    font-family: pcSenior;
    transform-origin: top;
    width: fit-content;
    color: white;
    transition: background-color 1s;
}

#exit > p{
    margin-bottom: 0;
}

#exit:hover{
    background-color: rgb(97, 97, 97);
}

.tutorial-box{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 25%;
    bottom: 10px;
    background-color: black;
    font-family: pcSenior;
    color: white;
    padding: 10px;
    z-index: 11;
}

.tutorial-box > p{
    margin: 0;
    width: 100%;
    text-align: end;
}

.tutorial-box > p:hover{
    color: red;
}

.tutorial{
    background-color: black;
    padding: 5px;
    border: 5px solid white;
    white-space: pre-line;
}

#transition{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 20;
    visibility: hidden;
}

#cv{
    top: 10%;
    right: 75%;
}

#play{
    top: 10%;
    right: 25%;
}

#game{
    top: 75%;
    right: 75%;
}

#project{
    top: 75%;
    right: 25%;
}

#home{
    top: 35%;
    right: 50%;
}

#container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media (pointer: coarse){
    building > p{
        opacity: 1;
        top: -45%;
    }
}